@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&iddisplay=swap');
body {
    background-color: #131316;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 100px 20vw;
}

.curves {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.curves svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 147px;
}

.curves .shape-fill {
    fill: #FFFFFF;
}